@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary: #E6EAF0;
  --background: #010103;
  --btn-background: #0d1117;
  --navbar-background: #0d1117;
  --header-background: #13181f;
  --selected-background: #23262C;
  --font-default: 'IBM Plex Sans Thai';
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: var(--font-default), sans-serif;
  color: var(--primary);
  background: var(--background);
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  font-size: 1rem;
}

h1, .h1 {
  font-size: 1.8rem;
  line-height: 4rem;
  margin: 0;
}

h2, .h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

button {
  align-self: start;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

a:link {
  color: var(--primary);
  text-decoration: none;
}

a:visited {
  color: var(--primary);
  text-decoration: none;
}

.button {
  font-size: 1rem;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-weight: 500;
  width: 6rem;
  max-height: 2rem;
  align-items: center;
  padding: 0;
  background-color: var(--navbar-background);
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  cursor: pointer;
}

.body {
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.column {
  display: flex;
  flex-direction: column;
}

.margin-y {
  margin: 0.5rem 0;
}

.space-8-px {
  width: 0.5rem;
  display: flex;
  justify-content: flex-start;
}

.margin-space {
  margin: 2rem;
}

.secondary-text {
  color: #8f94a3;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.padding-top {
  padding-top: 4px;
}


@media screen and (max-width: 900px) {
  body {
    padding-bottom: 2rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  button#menu-bar {
    display: block;
  }

  #nav-bar {
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 100 - 2 * var(--pad));
  }

  .split {
    color: transparent;
  }

  .flex-wrap {
    display: flex;
    gap: 0;
  }
}