#nav-bar {
  --pad: 1.5rem;
  display: flex;
  flex-direction: column;
  float: left;
  overflow-y: scroll;
  height: calc(100% - 2 * var(--pad));
  max-height: 100%;
  padding: var(--pad);
  justify-content: space-between;
  background: var(--navbar-background);
  border-right: 1px solid #30363d;
  min-width: 25%;
}

#nav-bar::-webkit-scrollbar {
  display: none;
}

#nav-container {
  width: 100%;
  max-width: 100%;
}

.nav-content {
  min-height: 2.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#selected {
  background-color: var(--selected-background);
  z-index: -1;
}