#main {
  margin: 0;
  display: flex;
  flex-direction: column;
}

#main-content {
  padding: 1.5rem;
}

#header {
  padding: 1rem 2rem;
  background-color: var(--header-background);
  margin-right: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.assignments {
  padding: 0.5rem 0 0.5rem 1.5rem;
  display: block;
  align-self: start;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.split {
  margin: 0 0.5rem;
}

.assignment {
  display: flex;
  flex-direction: row;
  margin: 4px 0;
  gap: 0.5rem;
}

.assignment-state {
  background-color: var(--background);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.assignment-title {
  max-width: 40vw;
}

.cheveron {
  transform: rotate(-90deg);
}

.active .cheveron {
  transform: rotate(0deg);
}

.content {
  display: block;
  padding: 3rem 0 0 3rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.content::-webkit-scrollbar {
  display: none
}

.collapsible {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  background-color: var(--background);
  color: var(--primary);
  border: none;
  outline: none;
  cursor: pointer;
}

.due-near {
  color: indianred;
}

.due-upcoming {
  color: dodgerblue;
}

.due-late {
  color: sandybrown;
}

@media screen and (max-width: 900px) {
  .split {
    color: transparent;
  }

  .flex-wrap {
    display: flex;
    gap: 0;
  }
}