#nav-bar {
  --pad: 1.5rem;
  display: flex;
  flex-direction: column;
  float: left;
  padding: var(--pad);
  height: calc(var(--vh, 1vh) * 100 - 2 * var(--pad));
  justify-content: space-between;
  background: var(--navbar-background);
  border-right: 1px solid #30363d;
}

#nav-bar::-webkit-scrollbar {
  display: none;
}

#nav-container {
  padding-top: 1rem;
  overflow-y: scroll;
}

#nav-container::-webkit-scrollbar {
  display: none;
}

.nav-content {
  min-height: 2.5rem;
  padding: 4px 0.5rem;
  min-width: 25vw;
  width: 25vw;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-content:hover, .nav-content:active {
  border-radius: 4px;
  background-color: var(--selected-background);
  z-index: -1;
}

.nav-active {
  border-radius: 4px;
  background-color: var(--selected-background);
  z-index: -1;
}

#user-container {
  padding: 1rem;
}

@media screen and (max-width: 900px) {
  body {
    padding-bottom: 2rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  .h2 {
    font-size: 1.2rem;
  }

  button#menu-bar {
    display: block;
  }

  .split {
    display: none;
  }

  .body {
    padding: 0 8px 0 0;
  }

  .flex-wrap {
    display: flex;
    gap: 0;
  }

  #header {
    padding: 1rem;
  }

  #nav-bar {
    width: 80vw;
    display: none;
  }

  #nav-container {
    height: 80vh;
    overflow-y: scroll;
  }

  #nav-container::-webkit-scrollbar {
    display: none;
  }

  .nav-content {
    padding: 0.5rem;
    width: 78vw;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .h2 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: left;
  }

  #header {
    padding: 1rem;
    align-items: center;
  }

  #menu-icon {
    padding: 0;
  }

  .icon-container {
    align-items: flex-start;
  }
}